@media all and (max-width: 991px) {
	.about-section {
		.amanda-image {
			display: none;
		}
		.white-tilted-container {
		    margin-top: 40px;
		    -ms-transform: rotate(-4deg); /* IE 9 */
	    	-webkit-transform: rotate(-4deg); /* Chrome, Safari, Opera */
	    	transform: rotate(-4deg);
		}
	}
} 