$font-stack:    Arial, Helvetica, sans-serif;
$primary-color: #b6483c;
$primary-light: #fac4c0;
$primary-dark: #b13e34;
$primary-accent: #6f9fc4;


@keyframes affixFadeIn
{
from {opacity: 0;}
to {opacity: 1;}
}

@-webkit-keyframes affixFadeIn 
{
from {opacity: 0;}
to {opacity: 1;}
}



@font-face{
    font-family: steel;
    src: url('../fonts/steelfish.ttf');
}

body {
	font-family: $font-stack;
	-webkit-font-smoothing: antialiased;
}
a {
	color: $primary-accent;
	font-weight: bold;
}
.main-background {
	background-color: black;
}
.container.background-image {
	background-image: url("../img/main-background.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	h1{
		color: white;
		font-family: steel;
		margin-top: 20%;
		margin-bottom: 30px;
		letter-spacing: 1px;
		line-height: 43px;
		width: 100%;
		float: left;
	}
	.social-icon-container {
		float: left;
		width: 100%;
		a {
			width: 30px;
			height: 30px;
			float: left; 
			margin: 0 10px 0 0; 
			opacity: .4;
			background-color: $primary-light;
			border: 1px solid $primary-dark;
		}
		a:hover {
			opacity: .8;
		}
	}
}
.scroll-top.affix{
	background-color: black;
	background-image: url("../img/main-background.png");
	background-position: 45% -140px;
	background-repeat: no-repeat;
	height: 102px;
	position:fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}
.navbar.affix {
    position: fixed;
    top: 100px;
    width: 100%;
    z-index:1000;
    animation: affixFadeIn .9s  ease-in;
    -webkit-animation: affixFadeIn .9s;
    &:before {
        content: 'my name is amanda and i build websites';
        color: white;
        font-family: steel;
        font-size: 30px;
        letter-spacing: 1px;
        height: 80px;
        margin: -80px auto 0 auto;
        padding-left: 30px;
        width: 1200px;
    }
}
.navbar{
	background-color: $primary-dark;
	border-radius: 0;
	box-shadow: 5px 1px 5px #3d130f;
	margin: 0px;
	min-height: 20px;
	padding: 0;
	width: 100%;
		.navbar-nav{
			li {
				a {
					color: $primary-light;
					margin: 0px 20px;
					padding: 7px 15px;
				}
				a.first {
					margin-left: 15px;
					padding-left: 0px;
				}
				a:hover {
					background-color: $primary-dark;
					color: white;
					font-weight: bold;
				}
				.active{
					color: white;
					font-weight: bold;
				}
			}
		}	
}
.about-section {
	background-color: $primary-color;
	min-height: 300px;
	padding-top: 30px;
	padding-bottom: 100px;
	h2 {
		color: white;
		padding-bottom: 10px;
	}
	p {
		color: white;
	}
	ul {
		padding-left: 17px;
		li {
			color: white;
			margin-bottom: 10px;
		}
	}
	.amanda-image {
		background-image: url("../img/amanda-image.png");
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 20px;
		min-height: 240px;
		width: 90%;
	}
}
.work-section {
	background-color: white;
	min-height: 300px;
	padding-top: 30px;
	padding-bottom: 200px;
	h2 {
		color: $primary-color;
		padding-bottom: 10px;
	}
	p {
		color: black;
	}
	.row {
		.col-md-3,
		.col-lg-3 {
			margin-bottom: 30px;
			.portfolio-square {
				width: 100%;
				height: 200px;
				float: left;
				border: 4px solid #f3c1bc;
				z-index: 99;
				background-size: cover;
				background-repeat: no-repeat;
			}
			.portfolio-square.flashband {
				background-image: url("../img/work-flashband.png");
			}
			.portfolio-square.elections {
				background-image: url("../img/work-election.png");
			}
			.portfolio-square.ghost{
				background-image: url("../img/work-ghost.png");
			}
			.portfolio-square:hover {
				-webkit-transform:scale(1.10); /* Safari and Chrome */
			    -moz-transform:scale(1.10); /* Firefox */
			    -ms-transform:scale(1.10); /* IE 9 */
			    -o-transform:scale(1.10); /* Opera */
			     transform:scale(1.10);			}
		}
		.col-md-2,
		.col-lg-2 {
			h4 {
				margin-bottom: 2px;
			}
			a.website-link {
				color: $primary-color;
				margin: 0;
				padding: 0;
			}
			a.website-link.unactive {
				color: rgb( 190,190,190);
			}
		}
	}
}
.resume-section {
	background-color: white;
	min-height: 300px;
	padding-top: 30px;
	margin-bottom: 300px;
	h2 {
		color: $primary-color;
		padding-bottom: 10px;
	}
	h4 {
		margin-top: 30px; 
		color: #b6483c;
	}
	h5 {
		font-weight: bold;
		margin-top: 10px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	p {
		color: black;
		margin: 0;
		padding: 0;
	}
}