$font-stack:    Arial, Helvetica, sans-serif;
$primary-color: #b6483c;
$primary-light: #fac4c0;
$primary-dark: #b13e34;


@keyframes affixFadeIn
{
from {opacity: 0;}
to {opacity: 1;}
}

@-webkit-keyframes affixFadeIn 
{
from {opacity: 0;}
to {opacity: 1;}
}



@font-face{
    font-family: steel;
    src: url('../fonts/steelfish.ttf');
}

body {
	font-family: $font-stack;
	-webkit-font-smoothing: antialiased;
}
.main-background {
	background-color: black;
}
.container.background-image {
	background-image: url("../img/main-background.png");
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 500px;
	h1{
		color: white;
		font-family: steel;
		margin-top: 20%;
		letter-spacing: 1px;
		line-height: 43px;
		width: 100%;
		float: left;
	}
	.social-icon-container {
		float: left;
		width: 100%;
		a {
			width: 30px;
			height: 30px;
			float: left; 
			margin: 0 10px 0 0;
			opacity: .6;
			background-color: $primary-light;
			border: 1px solid $primary-dark;
		}
	}
}
.scroll-top.affix{
	top: 0;
	position:fixed;
	height: 102px;
	width: 100%;
	background-color: black;
	background-image: url("../img/main-background.png");
	background-position: 45% -140px;
	background-repeat: no-repeat;
	z-index: 100;
}
.navbar.affix {
    position: fixed;
    top: 100px;
    width: 100%;
    z-index:1000;
    animation: affixFadeIn .9s  ease-in;
    -webkit-animation: affixFadeIn .9s;
    &:before {
        content: 'my name is amanda and i build websites';
        font-family: steel;
        font-size: 30px;
        letter-spacing: 1px;
        color: white;
        height: 80px;
        width: 1200px;
        margin: -80px auto 0 auto;
    }
}
.navbar{
	background-color: $primary-dark;
	border-radius: 0;
	box-shadow: 5px 1px 5px #3d130f;
	margin: 0px;
	min-height: 20px;
	padding: 0;
	width: 100%;
	.navbar-inner {
		max-width: 1200px;
		margin: 0 auto;
		.navbar-nav{
			li {
				a {
					margin: 0px 20px;
					padding: 7px 15px;
					color: $primary-light;
				}
				a:hover {
					background-color: $primary-dark;
					color: white;
					font-weight: bold;
				}
				.active{
					color: white;
					font-weight: bold;
				}
			}
		}
	}	
}
.about-section {
	background-color: $primary-color;
	min-height: 300px;
	padding-top: 30px;
	padding-bottom: 100px;
	h2 {
		color: white;
		padding-bottom: 10px;
	}
	p {
		color: white;
	}
	ul {
		padding-left: 17px;
		li {
			color: white;
			margin-bottom: 10px;
		}
	}
	.amanda-image {
		background-image: url("../img/amanda-image.png");
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 20px;
		min-height: 240px;
		width: 90%;
	}
}
.work-section {
	background-color: white;
	min-height: 300px;
	padding-top: 30px;
	h2 {
		color: $primary-color;
		padding-bottom: 10px;
	}
	p {
		color: black;
	}
}
.resume-section {
	background-color: white;
	min-height: 300px;
	padding-top: 30px;
	h2 {
		color: $primary-color;
		padding-bottom: 10px;
	}
	p {
		color: black;
	}
}