<div ng-include='"templates/header.html"'></div>
<section class='container-fluid art-section' data-speed='1' data-type='background' id='art'>
   <div class='container fade-in' ng-controller="DevelopCtrl">
     <div class='row'>
       <div class='col-lg-12 col-md-12 col-sm-12'>
         <h2>develop</h2>
       </div>
     </div>
     <div class='row' >
      <div class="col-lg-6 col-md-6 col-sm-12" ng-repeat="post in posts">
          <div class="row">
            <div class='col-lg-6 col-md-6 col-sm-6'>
                <a href="/#/develop/{{ post.slug }}">
                    <img class="portfolio-thumb"  src="{{ post.thumbnail }}" />
                </a>
            </div>
            <div class='col-lg-6 col-md-6 col-sm-6'>
                <h4> <a href="/#/develop/{{ post.slug }}">{{ post.name }}</a></h4>
                <p><a class='website-link' href='{{ post.url }} '>{{ post.websitename }} </a></p>
                <p>{{ post.description}} </p>
                <p><a href='{{ post.github }} '>View it on Github!</a></p>
           </div>
          </div>
      </div>     
     </div>
   </div>
 </section>
