<section class='container-fluid about-section' data-speed='4' data-type='background' id='about'>
  <div class='container '>
    <div class='row'>
      <div class='col-lg-4 col-md-4 col-sm-12'>
        <h2>the basics</h2>
        <ul class='bio-summary'>
          <li>Developer for USA Today since 2011.</li>
          <li>Co-founder, lead front end designer and developer for Flashband.</li>
          <li>Graduated Summa Cum Laude from Syracuse University in 2007.</li>
          <li>Received a certificate in Web Development and Design from the Center of Digital Imaging Arts at Boston University in 2009.</li>
        </ul>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-12'>
        <h2>the details</h2>
          <p>I am a sucker for clean, functional websites. I love bright colors and anything with a playful feel.</p>
          <p>In my spare time, I am an avid hobby collector. While rock climbing is my current obsession, I have dabbled in fencing, figure skating, contra dancing, and automotive repair. I've been a Star Wars geek since I was 11 and a Trekkie (Trekker?) even longer. Don't talk to me about Babylon 5, but why have you never watched Farscape? </p>
          <p>I am a huge fan of red wine and sweet potatoes. I've recently accepted that olives aren't the worst food in the world, but don't put them on my pizza.</p>
          <p>Feel free to contact me at amanda.astey@gmail.com!</p>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-12'>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 about-square square-me"></div>
          <div class="col-lg-6 col-md-6 col-sm-6 about-square square-cats"></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 about-square square-rock"></div>
          <div class="col-lg-6 col-md-6 col-sm-6 about-square square-caleb"></div>
        </div>
      </div>
    </div>
  </div>
</section>