<section class='container-fluid about-section' data-speed='4' data-type='background' id='about'>
  <div class='container '>
    <div class='row'>
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-0 about-squares'>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 about-square square-syracuse" ></div>
          <div class="col-lg-6 col-md-6 col-sm-6 about-square square-usa"></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 about-square square-cdia"></div>
          <div class="col-lg-6 col-md-6 col-sm-6 about-square square-flashband"></div>
        </div>
      </div>
            <div class='col-lg-8 col-md-8 col-sm-8 col-xs-12'>
        <div class="bullet-points">
          <h2>the basics</h2>
          <p>Developer for USA Today since 2011.</p>
            <p>Co-founder of Flashband and lead front-end designer and developer since 2011.</p>
            <p>Graduated Summa Cum Laude from Syracuse University in 2007.</p>
            <p>Certificate in Web Design and Development from the Center for Digital Imaging Arts at Boston University (DC Campus) in 2009.</p>
          </ul>
        </div>
      </div>

    </div>
    <div class="row margin-top">
      <div class='col-lg-4 col-md-4 col-sm-4 col-xs-0 about-squares'>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 about-square-big square-me" ></div>
          <div class="col-lg-6 col-md-6 col-sm-6 about-square-big square-cats"></div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 about-square-big square-rock"></div>
          <div class="col-lg-6 col-md-6 col-sm-6 about-square-big square-caleb"></div>
        </div>
      </div>
      <div class='col-lg-8 col-md-8 col-sm-8 col-xs-12'>
        <div class="big-picture">
          <h2>the details</h2>
            <p>I am a sucker for clean, functional websites. I love bright colors and anything with a playful feel. I work primarily as a front-end developer but I come from a design background and adore utilizing all of my skills to build beautiful web applications.</p>
            <p>In my spare time, I am an avid hobby collector. While rock climbing is my current obsession, I have dabbled in fencing, figure skating, contra dancing, and automotive repair. I've been a Star Wars geek since I was 11 and a Trekkie (Trekker?) even longer. Don't talk to me about Babylon 5, but why have you never watched Farscape? </p>
            <p>I am a huge fan of red wine and sweet potatoes. I've recently accepted that olives aren't the worst food in the world, but don't put them on my pizza.</p>
        </div>
      </div>
      
    </div>
  </div>
</section>