<section class='container-fluid resume-section' data-speed='2' data-type='background' id='resume'>
  <div class='container'>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <a class="resume-download" href="../img/AmandaAsteyResume.pdf" target="_blank" >(download a hard copy here)</a>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-4 col-md-4 col-sm-12'>
        <h4>education</h4>
        <h5>Center for Digital Imaging Arts at Boston University</h5>
        <p>Certificate in Web Design and Development</p>
        <p>Graduated May 2009</p>
        <h5>Syracuse University S.I. Newhouse School of Public Communications</h5>
        <p>Dual B.A. in Advertising and Sociology</p>
        <p>Summa Cum Laude</p>
        <p>Phi Beta Kappa</p>
        <p>Graduated May 2007</p>
        <h4>skills</h4>
        <h5>Proficient:</h5>
        <p>HTML / CSS (including HTML5 / CSS3)</p>
        <p>JavaScript</p>
        <p>Adobe InDesign</p>
        <p>Adobe Dreamweaver</p>
        <p>Adobe Photoshop</p>
        <p>Adobe Illustrator</p>
        <p>Wordpress</p>
        <h5>Working Knowledge:</h5>
        <p>Python</p>
        <p>Django</p>
        <p>Groovy on Grails</p>
        <p>Adobe Flash</p>
        <p>ActionScript</p>
        <h5 class="references">References Available on Request</h5>
      </div>
      <div class='col-lg-7 col-md-7 col-sm-12'>
        <h4>experience</h4>
        <h5>USA Today, McLean VA</h5>
        <p>Web Developer - August 2011 - present</p>
        <ul>
          <li>Collaborated with the entire USA Today development team to completely re-launch the USA Today website.</li>
          <li>Work with lead developers to integrate front-end style with back end functionality.</li>
          <li>Collaborate with designers, developers, and editorial staff to create interactives that are both informative and visually appealing.</li>
        </ul>
        <h5>The Flashband Project, Arlington VA</h5>
        <p>Co-founder / Lead Front-End Designer/Developer - June 2012 - present</p>
        <ul>
          <li>Create entire layout and organization of site from wireframes to execution.</li>
          <li>Work with lead developer to integrate front-end style with back end functionality.</li>
          <li>Maintain site operation and appearance across several browsers.</li>
        </ul>
        <h5>American Institutes for Research, Washington DC</h5>
        <p>Assistant Web Designer - February 2009 - August 2011</p>
        <ul>
          <li>Managed design and code changes to various websites and online applications.</li>
          <li>Designed the structure and appearance for new online tools for teachers and students.</li>
          <li>Illustrated covers for User Guides and AIR internal pamphlets.</li>
        </ul>
        <h5>Center for Digital Imaging Arts at Boston University, Washington DC</h5>
        <p>Web Design Teaching Assistant - June 2009 - December, 2009</p>
        <ul>
          <li>Advised and mentored students as they prepared to enter the job market.</li>
          <li>Critiqued student work and answered questions.</li>
          <li>Taught classes on Photoshop.</li>
        </ul>
        <h5>Brunner Digital, Washington DC</h5>
        <p>Web Design Intern - May 2009 - December 2009</p>
        <ul>
          <li>Designed websites and facebook fan pages for clients.</li>
          <li>Assisted in production of print ads and brochure layouts.</li>
          <li>Developed and executed alternate reality game to promote a local concert.</li>
        </ul>
        <h5>Rydex Investments, Rockville MD</h5>
        <p>Sales Coordinator – February 2008 – September 2008</p>
        <ul>
          <li>Provided administrative support to sales team.</li>
          <li>Created marketing materials.</li>
          <li>Organized and supervised events within the company.</li>
        </ul>
      </div>
    </div>
  </div>
</section>