%html{lang: 'en'}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
    %title Amanda Astey Portfolio
    %link{:rel => :stylesheet, :type => :"text/css", :href => "css/outlook-style.css"} 
  %body
    #portfolioApp
      .container-fluid.main-background
        #homeCarousel.carousel.slide{"data-interval" => "5000", "data-ride" => "carousel"}
          %ol.carousel-indicators
            %li.active{"data-target"=>"#homeCarousel", "data-slide-to"=>"0"}
            %li{"data-target"=>"#homeCarousel", "data-slide-to"=>"1"}
            %li{"data-target"=>"#homeCarousel", "data-slide-to"=>"2"}
          .carousel-inner
            .carousel-item.item.active.background-1
              .carousel-caption
                %h1 my name is amanda <br /> and I build websites
            .carousel-item.item.background-2
              .carousel-caption
                %h1 flashband project
                %a{:href => "#"} view it here
            .carousel-item.item.background-3
              .carousel-caption
                %h1 diversity map
                %a{:href => "#"} view it here
         
      .scroll-top( data-spy="affix")
      %nav.navbar.navbar-default( data-spy="affix")
        .navbar-inner
          %button.navbar-toggle.collapsed{:data => {:toggle => "collapse", :target => "#bs-example-navbar-collapse-1"}} 
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          .collapse.navbar-collapse#bs-example-navbar-collapse-1
            %ul.nav.navbar-nav
              %li
                %a.nav-link.first.active{:href => '#about'} about
              %li
                %a.nav-link{:href => '#work'} work
              %li
                %a.nav-link{:href => '#resume'} resume
      %section#about.container-fluid.about-section{:data => {:speed => "4", :type => "background"}} 
        .container
          .row.fade-in
            .col-lg-2.col-md-2.col-sm-12
              .img-thumbnail.amanda-image
              .social-icon-container
                %a.mail.toolhover{:href => '#', "data-toggle" => "tooltip", "data-placement" => "top", "title" => "Email Me"} 
                  %img.social-img(src="img/social-mail.png")
                %a.linked.toolhover{:href => '#', "data-toggle" => "tooltip", "data-placement" => "top", "title" => "LinkedIn Profile"} 
                  %img.social-img(src="img/social-linked.png")
                %a.github.last.toolhover{:href => '#', "data-toggle" => "tooltip", "data-placement" => "top", "title" => "View me on GitHub"} 
                  %img.social-img(src="img/social-github.png")
            .col-lg-3.col-md-3.col-sm-12
              %h2 the basics
              %ul.bio-summary
                %li Developer for USA Today since 2011.
                %li Co-founder, lead front end designer and developer for Flashband.
                %li Graduated Summa Cum Laude from Syracuse University in 2007.
                %li Received a certificate in Web Development and Design from the Center of Digital Imaging Arts at Boston University in 2009. 
            .col-lg-6.col-md-5.col-sm-12
              .white-tilted-container.fade-in-slow
                %h2 the details
                %p I am a sucker for clean, functional websites. I love bright colors and anything with a playful feel.
                %p In my spare time, I am an avid hobby collector. While rock climbing is my current obsession, I have dabbled in fencing, figure skating, Contra dancing, and automotive repair. I am a huge fan of red wine and sweet potatoes.
                %p In my spare time, I am an avid hobby collector. While rock climbing is my current obsession, I have dabbled in fencing, figure skating, Contra dancing, and automotive repair. I am a huge fan of red wine and sweet potatoes.
                %p Feel free to contact me at amanda.astey@gmail.com!
      %section#work.container-fluid.work-section{:data => {:speed => "1", :type => "background"}} 
        .container
          .row
            .col-lg-12.col-md-12.col-sm-12
              %h2 work
          .row
            .col-lg-3.col-md-3.col-sm-12
              .img-thumbnail.portfolio-square.flashband
            .col-lg-2.col-md-2.col-sm-12
              %h4 Flashband
              %p 
                %a.website-link{:href => 'http://www.flashband.org'} Flashband Website
              %p Here is a description of Flashband. 
              %p
                %a{:href => '#'} View it on Github!
            .col-lg-3.col-md-3.col-sm-12
              %a.img-thumbnail.portfolio-square.elections{:href => '/elections.haml'}
            .col-lg-2.col-md-2.col-sm-12
              %h4 Elections Forecast
              %p 
                %a.website-link{:href => 'http://www.usatoday.com/pages/interactives/elections-forecast-2014/'} Elections App
              %p Here is a description of the elections forecast. 
          .row
            .col-lg-3.col-md-3.col-sm-12
              .img-thumbnail.portfolio-square.ghost
            .col-lg-2.col-md-2.col-sm-12
              %h4 Ghost Factories
              %p 
                %a.website-link{:href => 'http://usatoday30.usatoday.com/news/nation/smelting-lead-contamination'} Ghost Factories App
              %p Here is a description of the elections forecast. 
            .col-lg-3.col-md-3.col-sm-12
              .img-thumbnail.portfolio-square.ccc
            .col-lg-2.col-md-2.col-sm-12
              %h4 College and Career Connections
              %p 
                %a.website-link.unactive{:href => '#'} Website no longer active
              %p Here is a description of the elections forecast. 
            .col-lg-3.col-md-3.col-sm-12
              .img-thumbnail.portfolio-square.template
            .col-lg-2.col-md-2.col-sm-12
              %h4 Article Templates
              %p 
                %a.website-link{:href => 'http://www.flashband.org'} www.flashband.org
              %p Here is a description of the elections forecast. 
              %p
                %a{:href => '#'} View it on Github!
            .col-lg-3.col-md-3.col-sm-12
              .img-thumbnail.portfolio-square.this
            .col-lg-2.col-md-2.col-sm-12
              %h4 This Website
              %p 
                %a.website-link{:href => 'http://www.flashband.org'} www.flashband.org
              %p Here is a description of the elections forecast. 
              %p
                %a{:href => '#'} View it on Github!
      %section#resume.container-fluid.resume-section{:data => {:speed => "2", :type => "background"}} 
        .container
          .row
            .col-lg-12.col-md-12.col-sm-12
              %h2 resume
              %h5 download a pdf version <a href="">here</a>.
          .row
            .col-lg-4.col-md-4.col-sm-12
              %h4 education
              %h5 Center for Digital Imaging Arts at Boston University
              %p Certification in Graphic/Web Design
              %p Graduated May, 2009
              %h5 Syracuse University S.I. Newhouse School of Public Communications
              %p Dual B.A. in Advertising and Sociology
              %p Summa Cum Laude
              %p Graduated May, 2007
              %h4 skills
              %h5 Proficient:
              %p HTML / CSS (including HTML5 / CSS3)
              %p JavaScript
              %p Adobe InDesign
              %p Adobe Dreamweaver
              %p Adobe Photoshop
              %p Adobe Illustrator
              %p Wordpress
              %h5 Working Knowledge:
              %p Python
              %p Django
              %p Groovy on Grails
              %p Adobe Flash
              %p ActionScript
              %h4 honors
            .col-lg-7.col-md-7.col-sm-12
              %h4 experience
              %h5 USA Today, McLean VA
              %p Web Developer - August 2011 - present
              %ul 
                %li Collaborated with the entire USA Today development team to completely re-launch the USA Today relaunch.
                %li Work with lead developers to integrate front end style with back end functionality.
              %h5 The Flashband Project, Arlington VA
              %p Cofounder / Lead Front End Designer/Developer - June 2012 - present
              %ul 
                %li Create entire layout and organization of site from wireframes to execution.
                %li Work with lead developer to integrate front end style with back end functionality.
                %li Maintain site operation and appearance across several browsers.
              %h5 American Institutes for Research, Washington DC
              %p Assistant Web Designer - February 2009 - August 2011
              %ul 
                %li Manage design and code changes to various websites and online applications.
                %li Design the structure and appearance for new online tools for teachers and students.
                %li Illustrate covers for User Guides and AIR internal pamphlets.
              %h5 Center for Digital Imaging Arts at Boston University, Washington DC
              %p Web Design Teaching Assistant - June 2009 - December, 2009
              %ul 
                %li Advise and mentor students as they prepare to enter the job market.
                %li Critique student work and answer questions.
                %li Teach classes on Photoshop.
              %h5 Brunner Digital, Washington DC
              %p Web Design Intern - May 2009 - December 2009
              %ul
                %li Designed websites and facebook fan pages for clients.
                %li Assisted in production of print ads and brochure layouts.
                %li Developed and executed alternate reality game to promote a local concert.
              %h5 Rydex Investments, Rockville MD
              %p Sales Coordinator – February 2008 – September 2008
              %ul
                %li Provided administrative support to sales team.
                %li Created marketing materials.
                %li Organized and supervised events within the company.

  %script(src="js/lib/jquery.min.js")
  %script(src="js/lib/bootstrap.js")
  %script(src="js/main.js")
