<div class='container-fluid main-background desktop-header'>
  <div class='row'>
    <div class='container'>
      <div class='carousel slide' data-interval='false' data-ride='carousel' id='homeCarousel'>
        <h3 class="collapsable">quickly browse a few of my favorite projects:</h3>
        <ol class='carousel-indicators collapsable'>
          <li class='carousel-ind-1 active' data-slide-to='0' data-target='#homeCarousel'></li>
          <li class='carousel-ind-2' data-slide-to='1' data-target='#homeCarousel'></li>
          <li class='carousel-ind-3' data-slide-to='2' data-target='#homeCarousel'></li>
          <li class='carousel-ind-4' data-slide-to='3' data-target='#homeCarousel'></li>
        </ol>
        <div class='carousel-inner'>
          <div class='carousel-item item active background-1'>
            <div class='carousel-caption'>
              <h1 class="collapsable">my name is amanda <br /> and I build websites</h1>
              <div class='social-icon-container collapsable'>
                <a class='mail toolhover' data-placement='top' data-toggle='tooltip' href='mailto:amandaastey@gmail.com' title='Email Me' >
                  <img class='social-img' src='img/social-mail.png'>
                </a>
                <a class='linked toolhover' data-placement='top' data-toggle='tooltip' target="_blank" href='https://www.linkedin.com/in/amandakirby' title='LinkedIn Profile'>
                  <img class='social-img' src='img/social-linked.png'>
                </a>
                <a class='github toolhover' data-placement='top' data-toggle='tooltip' target="_blank"  href='https://github.com/aastey' title='View me on GitHub'>
                  <img class='social-img' src='img/social-github.png'>
                </a>
              </div>
            </div>
          </div>
          <div class='carousel-item item background-2'>
            <div class='carousel-caption'>
              <h1>flashband</h1>
              <p>Flashband helps musicians meet, network and play music. In addition to being a co-founder I was also the lead designer and front-end developer from 2012-2015.</p>
              <a target="_blank" href='http://www.flashband.org'>view the website</a>
            </div>
          </div>
          <div class='carousel-item item background-3'>
            <div class='carousel-caption'>
              <h1>gracenote showcase</h1>
              <p>The Showcase App demonstrates all the ways in which you can use Gracenote's large collection of TV, Movie, Sports, and Celebrity metadata.</p>
              <a  target="_blank" href='http://www.gannett-cdn.com/GDContent/2014/diversity-map/index.html'>view the diversity map</a>
            </div>
          </div>
          <div class='carousel-item item background-4'>
            <div class='carousel-caption'>
              <h1>wheelie's skydiving narwhal</h1>
              <p>I love illustration work and incorporating it into my designs. This skydiving narwhal has always been one of my favorites.</p>
              <a  href='/img/wheelie1.jpg' data-toggle="lightbox" rel="lightbox[whale]" title="Wheelie Skydiving Whale" data-use-bootstrap-modal="false" target="_blank">view the original poster</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='container-fluid main-background mobile-header'>
  <div class='row'>
    <div class='container'>
      <h1>my name is amanda and I build websites</h1>
        <div class='social-icon-container'>
          <a class='mail toolhover' data-placement='top' data-toggle='tooltip' href='mailto:amandaastey@gmail.com' title='Email Me' >
            <img class='social-img' src='img/social-mail.png'>
          </a>
          <a class='linked toolhover' data-placement='top' data-toggle='tooltip' target="_blank" href='https://www.linkedin.com/in/amandakirby' title='LinkedIn Profile'>
            <img class='social-img' src='img/social-linked.png'>
          </a>
          <a class='github toolhover' data-placement='top' data-toggle='tooltip' target="_blank"  href='https://github.com/aastey' title='View me on GitHub'>
            <img class='social-img' src='img/social-github.png'>
          </a>
        </div>
    </div>
  </div>
</div>
      <nav class='navbar navbar-default' data-spy='affix'>
        <div class='navbar-inner'>
          <button class='navbar-toggle collapsed' data-target='#bs-example-navbar-collapse-1' data-toggle='collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
            <ul class='nav navbar-nav'>
              <li> 
                <a ng-class="{active:isActive('/')}" class='nav-link first about' href='#/'>about</a>
              </li>
              <li>
                <a ng-class="{active:isActive('/#/develop')}" class='nav-link develop' href='/#develop'>develop</a>
              </li>
              <li>
                <a ng-class="{active:isActive('/design')}" class='nav-link design' href='/#design'>design</a>
              </li>
              <li>
                <a ng-class="{active:isActive('/resume')}" class='nav-link resume' href='/#resume'>resume</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

