<div class='container-fluid main-background'>
  <div class='row'>
       <div class="sub-header-background">
          <h1>My name is amanda and I build websites</h1>
          <div class='social-icon-container'>
                <a class='mail toolhover' data-placement='top' data-toggle='tooltip' href='#' title='Email Me'>
                  <img class='social-img' src='img/social-mail.png'>
                </a>
                <a class='linked toolhover' data-placement='top' data-toggle='tooltip' href='#' title='LinkedIn Profile'>
                  <img class='social-img' src='img/social-linked.png'>
                </a>
                <a class='github last toolhover' data-placement='top' data-toggle='tooltip' href='#' title='View me on GitHub'>
                  <img class='social-img' src='img/social-github.png'>
                </a>
              </div>
       </div>
  </div>
</div>
      <nav class='navbar navbar-default' data-spy='affix'>
        <div class='navbar-inner'>
          <button class='navbar-toggle collapsed' data-target='#bs-example-navbar-collapse-1' data-toggle='collapse'>
            <span class='sr-only'>Toggle navigation</span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
            <span class='icon-bar'></span>
          </button>
          <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
            <ul class='nav navbar-nav'>
              <li>
                <a class='nav-link first active' href='#/'>about</a>
              </li>
              <li>
                <a class='nav-link' href='/#develop'>develop</a>
              </li>
              <li>
                <a class='nav-link' href='/#design'>design</a>
              </li>
              <li>
                <a class='nav-link' href='/#resume'>resume</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

